$color-brand-grey: rgba(0, 0, 0, 0.5);
$site-header-color: #434CCC;
$intro-heading-color: #FFFFFF;
$paragraph-and-list-color: #000000;
$form-background-color: #FFDD78;
$site-background-color:rgba(67, 76, 204, 0.05);